*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.range{
  margin-bottom: 2rem;
}

.countField{
  height: 3rem;
  font-size: 1.5rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  height: 4rem;
}

.row button{
  width: 4rem;
  height: 3rem;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  cursor: pointer;
}

.row span{
  font-size: 3rem;
  margin: 0 2rem;
}

.container p{
  font-size: 3rem;
}

.reset-btn{
  margin-top: 2rem;
  width: 7rem;
  height: 3rem;
  cursor: pointer;
}